body {
    background-color: #2bc020;
    }
    
    .h1 {
        text-align: center;
    }
    
    .nameC { 
        font-size: 30px;
        text-align: top;
        float: left;
        height: 40px;
        margin-left: 130px;
    }
    
    .nameP {
        font-size: 30px;
        float: right;
        height: 40px;
        margin-right: 130px;
    }
    
    .cardC {
        border: 1px solid black ;
        width: 200px;
        height: 300px;
        margin-left: 100px;
        background-image: url('opp.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border: 3px solid gray;
        float: left
    }
    
    .cardP {
        border: 1px solid black;
        width: 200px;
        height: 300px;
        margin-right: 100px;
        background-image: url('opp.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border: 3px solid gray;
        float: right;
    }
        
    .scoreC {
        font-size: 30px;
        float: left;
        margin-left: 130px;
    }
    
    .scoreP {
        font-size: 30px;
        float: right;
        margin-right: 190px;
        
    }
    
    
    .button1 {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, 600%);
    }
    
    .button2 {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, 750%);
    }
    